<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>FutureTech_Team28</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AboutServlet</servlet-name>
		<servlet-class>script.AboutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>script.CartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>script.CheckoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>script.LoginServlet</servlet-class>
		<init-param>
			<param-name>userNameI</param-name>
			<param-value>Admin</param-value>
		</init-param>
		<init-param>
			<param-name>passWordI</param-name>
			<param-value>Admin</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ProductsServlet</servlet-name>
		<servlet-class>script.ProductsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>script.ProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>script.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>script.UsersServlet</servlet-class>
	</servlet>
</web-app>